* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6C7293;
  background-color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/******* Customized Bootstrap ********/

$primary: #EB1616;
$secondary: #191C24;
$light: #6C7293;
$dark: #000000;

$font-family-base: 'Open Sans', sans-serif;

$headings-font-family: 'Roboto', sans-serif;

$body-bg: $dark;

$body-color: $light;

$headings-color: #FFFFFF;

$headings-font-weight: 700;

$display-font-weight: 700;

$enable-responsive-font-sizes: true;

$border-color: $dark;

$input-border-color: $border-color;

$nav-tabs-border-color: $border-color;

$nav-tabs-link-hover-border-color: $border-color;

$nav-tabs-link-active-border-color: $border-color;

$input-bg: $dark;

$list-group-color: $body-color;

$list-group-border-color: $border-color;

$border-radius: 5px;

$link-decoration: none;

$enable-negative-margins: true;

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px !important;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500 !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px !important;
  border-radius: 2px !important;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: #EB1616 !important;
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #FFFFFF !important;
}

@import "bootstrap/scss/bootstrap";
